<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>AdminControlerPanel</title>
</head>
<body>
       
    <div class="container justify-content-center">
        <div class="row">
          <div class="col-sm bg-dark">
         
            <form action="#!"  th:action="@{/AdminControlPanel}" method="POST" id="#menuForm" th:object="${menu}">         

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Menu Name</label>
                <input type="text" class="form-control" th:field="*{name}" id="menuName" placeholder="Menu Name">
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Price</label>
                <input type="text" class="form-control" th:field="*{price}" id="price" placeholder="Price">
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Currency</label>
                <input type="text" class="form-control" th:field="*{currency}" id="menuName" placeholder="Currency" value="฿">
              </div>

              <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" name="img" id="formFile">
              </div>
                 
              <button type="submit" class="btn btn-secondary">Save</button>
            </form>
           </div>
        </div>
      </div>


      
</body>
</html>